<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forgerock_ssl_pinning_public_key_hashes</key>
	<array/>
	<key>forgerock_cookie_name</key>
	<string>iPlanetDirectoryPro</string>
	<key>forgerock_enable_cookie</key>
	<true/>
	<key>forgerock_oauth_client_id</key>
	<string>testclient</string>
	<key>forgerock_oauth_redirect_uri</key>
	<string>http://www.example.com</string>
	<key>forgerock_oauth_scope</key>
	<string>openid profile email address</string>
	<key>forgerock_oauth_url</key>
	<string>https://default.iam.example.com/am</string>
	<key>forgerock_oauth_threshold</key>
	<string>60</string>
	<key>forgerock_url</key>
	<string>https://default.iam.example.com/am</string>
	<key>forgerock_realm</key>
	<string>root</string>
	<key>forgerock_timeout</key>
	<string>60</string>
	<key>forgerock_keychain_access_group</key>
	<string>com.forgerock.sso</string>
	<key>forgerock_auth_service_name</key>
	<string>Login</string>
	<key>forgerock_registration_service_name</key>
	<string>Registration</string>
</dict>
</plist>
